html {
  -webkit-text-size-adjust: 100%; /*Stylize font styles*/
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 18px;
  line-height: 24px;
  color: black;
  background-color: #CAE1FF;
  font-family: Arial, Helvetica, Droid Sans;
}

figure{
  text-align:center;
}

img {
  max-width: 40%;
  border-style: groove;
  border-color:black;
  border-width: 4px;
  margin-top:8px;
}

h1{
  font-size: 36px;
  line-height: 42px;
  margin-top: 6px;
  background-color: #98AFC7;
  border-style: ridge;
  border-color:black;
  border-width: 4px;
  padding: 8px;
  opacity:.85;
}

h2{  font-size: 36px;
  line-height: 42px;
  margin-top: 8px;
  margin-bottom: 0px;
  background-color: #98AFC7;
  padding: 8px;
  border-style: ridge;
  border-color:black;
  border-width: 4px;
  display:block;

}

p {
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding:8px;
}

div {
  background-color: #98AFC7;
  border-style: ridge;
  border-color:black;
  border-width: 4px;
  opacity:.85;
}

footer{
  font-size: 12px;
  margin-top: 6px;
  background-color: #98AFC7;
  border-style: ridge;
  border-color:black;
  border-width: 4px;
  opacity:.85;
}